@keyframes shake {
  0%, 100% {
    transform: translateY(2px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-2px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  } 
}
.animate-shake {
  animation: shake .2s ease-in-out
}

